@use '../../../../../../sass/abstracts/variables' as inv;

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
}

.spinner  {
  display: flex;
  justify-content: center;
}

.inventory {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  &-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;

    &-control {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-submit-status {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: inv.$color-grey-light;
    margin-block: 1rem;
    width: 45vw;

    &-input {
      display: flex;
      flex-direction: column;
      width: 10rem;

    }
  }


}
