@use "../../../../../../sass/abstracts/variables" as var;

.location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;
  text-align: center;
}

.spinner {
  display: flex;
  justify-content: center;

  &-top {
    margin-block-start: 2rem;
  }
}

.no-drafts {
  display: flex;
  justify-content: center;
}

.new-inventory-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  .inventory {

    &-expansion {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 70vw;
      max-width: 40rem;

      .new-inventory-icon {
        margin-inline-end: 1rem;
      }

      &-new-main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2rem;
      }

      &-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65vw;

      }
      .dept-error {
        margin-block: 2rem;
      }



      .inventory-card-control {
        display: flex;
        flex-direction: column;
        align-items: center;
      }


      .inventory-card-submit-dept {
        display: flex;
        flex-direction: column;
        align-items: center;

        &-box {
          display: flex;

          mat-radio-button {
            margin: 1rem;
          }
        }
      }

      .inventory-card-submit-value {
        display: flex;
        justify-content: center;
        text-align: center;
        margin-block-end: 1rem;
      }


      .inventory-products {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var.$color-grey-light;
        margin-block: 1rem;
        width: 45vw;
        max-width: 25rem;

        &-input {
          display: flex;
          flex-direction: column;
          width: 10rem;
        }
      }

    }

    // &-working {

    // }

  }
}

// MOBILE STYLES
@media only screen and (max-width: var.$bp-mobile-lg) {
  .location {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }

  mat-spinner {
    display: flex;
    justify-content: center;
  }

  .no-drafts {
    display: flex;
    justify-content: center;
  }

  .new-inventory-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;

    .inventory {

      &-expansion {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70vw;
        max-width: 40rem;

        .new-inventory-icon {
          margin-inline-end: 1rem;
        }

        &-new-main {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2rem;
        }

        &-card {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 65vw;



        }
        .inventory-card-control {
          display: flex;
          flex-direction: column;
          align-items: center;
        }


        .inventory-card-submit-dept {
          display: flex;
          flex-direction: column;
          align-items: center;

          &-box {
            display: flex;

            mat-radio-button {
              margin: 1rem;
            }
          }
        }

        .inventory-card-submit-value {
          display: flex;
          justify-content: center;
          text-align: center;
          margin-block-end: 1rem;
        }

        .inventory-products-cards-container {
          display: flex;
          flex-direction: column;
          align-items: center;

          .inventory-products {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var.$color-grey-light;
            margin-block: 1rem;
            width: 95%;

            &-input {
              display: flex;
              flex-direction: column;
              width: 10rem;
            }
          }
        }

      }

      // &-working {

      // }

    }
  }
}
