<!-- TITLE BLOCK -->
<div class="spinner spinner-top">
  <mat-spinner diameter="100" strokeWidth="6" *ngIf="locLoading"></mat-spinner>
</div>

<div
  class="location"
  *ngIf="locationState.activeLocation?.productList.length > 0 && !locLoading"
>
  <h4>{{ activeLocation.locationName }}</h4>
  <h5>{{ userDept | uppercase }}</h5>
</div>

<!-- "NO LOCATION ACTIVE" MESSAGE -->
<div class="location" *ngIf="!locationState.activeLocation">
  <h4>Select a location to start a new inventory.</h4>
</div>

<!-- "NO DEPARTMENT PRODUCTS IN LOCATION" MESSAGE -->
<div
  class="location"
  *ngIf="locationState.activeLocation?.productList.length === 0"
>
  <!-- OWNERS, MANAGEMENT AND ADMINS -->
  <h4 *ngIf="userRole !== 'staff' && locationState.activeLocation">
    Add
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }}
    products to the
    {{ locationState.activeLocation?.locationName }}
    location to start a new
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory.
  </h4>
  <!-- JUNIOR STAFF -->
  <h4 *ngIf="userRole === 'staff' && locationState.activeLocation">
    No
    {{ userDept | uppercase }}
    products found for the
    {{
      locationState.activeLocation
        ? locationState.activeLocation.locationName
        : null
    }}
    location.
  </h4>
  <p *ngIf="userRole === 'staff'">
    Once management has added products you can start a new
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory.
  </p>
</div>

<!-- NEW INVENTORY MAIN START -->
<div
  class="new-inventory-container"
  *ngIf="locationState.activeLocation?.productList.length > 0"
>
  <mat-expansion-panel class="inventory-expansion">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="new-inventory-icon">addchart</mat-icon> Create New
        Inventory</mat-panel-title
      >
    </mat-expansion-panel-header>

    <div
      class="inventory-new-main"
      *ngIf="locationState.activeLocation?.productList.length > 0"
    >
      <mat-card class="inventory-card">
        <mat-card-content>
          <div
            *ngIf="userDept === 'admin'"
            class="inventory-card-submit-status"
          >
            <mat-label>Department: </mat-label>
            <mat-radio-group
              required
              #isFinal
              formControlName="isFinal"
              [value]="selected"
              (change)="onDepartmentSelect($event)"
            >
              <mat-radio-button [value]="'foh'" [checked]="true">FOH</mat-radio-button>
              <mat-radio-button [value]="'boh'">BOH</mat-radio-button>
            </mat-radio-group>
          </div>

          <h6
            *ngIf="
              userDept === 'admin' &&
              locationState.activeLocation &&
              formDept &&
              newInventoryProducts?.length === 0
            "
          >
            Add
            {{ this.userDept !== "admin" ? (userDept | uppercase) : null }}
            products to the
            {{ locationState.activeLocation?.locationName }}
            location to start a new
            {{
              formDept | uppercase
            }}
            inventory.
          </h6>

          <app-inventory-form
            *ngIf="formDept && newInventoryProducts?.length > 0"
            [inventoryProducts]="newInventoryProducts"
            [formDept]="formDept"
            (inventoryFormSubmitted)="onInventorySubmit($event)"
          ></app-inventory-form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>
<!-- NEW INVENTORY MAIN END END END -->

<!-- NO WORKING DRAFTS MESSAGE -->
<div
  *ngIf="!draftInventory || !locationState.activeLocation"
  class="no-drafts"
>
  <p *ngIf="locationState.activeLocation?.inventoryData.length > 0">
    No working
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory
    drafts found.
  </p>
</div>

<!-- WORKING INVENTORIES START -->
<div *ngIf="draftInventory" class="new-inventory-container">
  <mat-expansion-panel class="inventory-expansion">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="new-inventory-icon">insert_chart_outlined</mat-icon>
        Inventory Draft
        {{ workingInventory.dateEnd | date: "shortDate" }}</mat-panel-title
      >
    </mat-expansion-panel-header>

    <div class="inventory-new-main">
      <mat-card class="inventory-card">
        <mat-card-content>
          <app-inventory-form></app-inventory-form>
        </mat-card-content>
        <mat-card-actions align="center">
          <mat-error *ngIf="locationStateError">
            {{ locationStateError }}
          </mat-error>
          <mat-error
            *ngIf="draftInventoryForm.dirty && draftInventoryForm.invalid"
          >
            Please complete all fields to save.
          </mat-error>
          <button
            *ngIf="userRole !== 'staff' || userDept === 'admin'"
            mat-raised-button
            #invSubmit
            type="submit"
            (click)="onInventorySubmit(draftInventoryForm, false)"
            [disabled]="draftInventoryForm.invalid"
          >
            {{
              draftInventoryForm.value.isFinal
                ? "Finalize and Submit"
                : "Save Working Draft"
            }}
          </button>
          <button
            *ngIf="userRole === 'staff' && userDept !== 'admin'"
            mat-raised-button
            type="button"
            color="accent"
            (click)="onInventorySubmit(draftInventoryForm, false)"
            [disabled]="draftInventoryForm.invalid"
          >
            Save
          </button>

          <br />
          <br />
          <button
            mat-raised-button
            type="button"
            color="primary"
            (click)="onResetDraftInventoryForm()"
            [disabled]="!draftInventoryForm.touched"
          >
            Reset
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>

<!-- WORKING INVENTORIES END END END -->
