<div class="spinner spinner-top">
  <mat-spinner diameter="100" strokeWidth="6" *ngIf="loading"></mat-spinner>
</div>
<div *ngIf="!loading" class="product">
  <h4 *ngIf="!activeLocation" class="no-active-location">
    Select a location to access products.
  </h4>
  <h4 *ngIf="activeLocation" class="location-name">
    {{ activeLocation.locationName }}
  </h4>

  <div class="product-add">
    <mat-expansion-panel *ngIf="activeLocation" class="product-add-new">
      <mat-expansion-panel-header>
        <mat-panel-title
          ><mat-icon>new_label</mat-icon>Create a New Product</mat-panel-title
        >
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-title>New Product </mat-card-title>
        <mat-card-subtitle
          matTooltip="Except for Owners and Admins, users can only create or update products in their own department."
        >
          {{ user.department | uppercase }}
        </mat-card-subtitle>

        <mat-card-content>
          <app-product-form (productFormSubmitted)="onNewProductSubmit($event)">
          </app-product-form>
        </mat-card-content>

        <mat-card-actions align="end"> </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </div>

  <div class="spinner">
    <mat-spinner
      diameter="100"
      strokeWidth="6"
      *ngIf="locLoading || bizLoading"
    ></mat-spinner>
  </div>

  <h5 *ngIf="activeLocation?.products.length > 0" class="text-center">
    Product List
  </h5>

  <h6
    *ngIf="locationState.activeLocation?.products.length === 0"
    class="products-null-message"
  >
    Products stocked at this location will appear below. <br />
    Create new products to get started.
  </h6>

  <div>
    <button
      *ngIf="
        activeProducts?.length > 0
      "
      mat-raised-button
      color="primary"
      type="button"
      class="product-delete"
      (click)="onDeleteSelected()"
    >
      Delete Selected
    </button>
  </div>

  <div class="product-list" *ngIf="activeLocation?.products.length > 0">
    <mat-card
      *ngFor="let product of activeLocation.products; let i = index"
      class="product-list-cards"
    >
      <mat-card-title>
        <mat-checkbox
          (change)="onProductSelect($event.checked, product)"
        ></mat-checkbox>
        {{ product.name | titlecase }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ product.department | uppercase }}</p>
        <p>
          Status:
          <span
            class="product-list-cards-status"
            [ngClass]="!product.isActive ? 'inactive' : null"
            >{{ product.isActive ? "Active" : "Inactive" }}</span
          >
        </p>
        <p>{{ product.category }}</p>
        <p>
          {{
            product.casePrice /
              (product.unitSize *
                product.unitsPerPack *
                product.packsPerCase) | currency
          }}
          per {{ product.unitSingular }}
        </p>
        <p>
          Unit Size:
          {{
            product.unitSize +
              " " +
              (product.unitSize > 1
                ? product.unitPlural
                : product.unitSingular)
          }}
        </p>
        <p>
          {{
            (product.name | titlecase) +
              " per case: " +
              product.unitsPerPack * product.packsPerCase
          }}
        </p>
        <p>Case price: {{ product.casePrice | currency }}</p>
        <p>
          Par: {{ product.par }}
          {{ product.par > 1 ? "packs" : "pack" }}
        </p>
      </mat-card-content>
      <mat-card-actions
        *ngIf="user.role > 1 || userDept === 'admin'"
        align="center"
      >
        <button mat-raised-button (click)="onDeleteOne(product.id)">
          Delete
        </button>
        <button mat-raised-button (click)="onEditProduct(product)">
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <button
      *ngIf="activeProducts?.length > 0 && activeLocation.products?.length > 3"
      mat-raised-button
      color="primary"
      type="button"
      class="product-delete"
      (click)="onDeleteSelected()"
    >
      Delete Selected
    </button>
  </div>
</div>
