<div class="spinner spinner-top">
  <mat-spinner
    diameter="100"
    strokeWidth="6"
    *ngIf="locLoading || bizLoading"
  ></mat-spinner>
</div>
<div *ngIf="!locLoading && !bizLoading" class="product">
  <h4 *ngIf="!activeLocation" class="no-active-location">
    Select a location to access products.
  </h4>
  <h4 *ngIf="activeLocation" class="location-name">
    {{ activeLocation.locationName }}
  </h4>

  <div class="product-add">
    <mat-expansion-panel *ngIf="activeLocation" class="product-add-new">
      <mat-expansion-panel-header>
        <mat-panel-title
          ><mat-icon>new_label</mat-icon>Create a New Product</mat-panel-title
        >
      </mat-expansion-panel-header>
      <mat-card>
        <mat-card-title>New Product </mat-card-title>
        <mat-card-subtitle
          matTooltip="Except for Owners and Admins, users can only create or update products in their own department."
        >
          {{ user.userProfile.department | uppercase }}
        </mat-card-subtitle>

        <mat-card-content>
          <app-product-form
            (productFormSubmitted)="onNewProductSubmit($event)"
          >
          </app-product-form>
        </mat-card-content>

        <mat-card-actions align="end"> </mat-card-actions>
      </mat-card>
    </mat-expansion-panel>
  </div>

  <div class="spinner">
    <mat-spinner
      diameter="100"
      strokeWidth="6"
      *ngIf="locLoading || bizLoading"
    ></mat-spinner>
  </div>

  <h5 *ngIf="activeLocation?.productList.length > 0" class="text-center">
    Product List
  </h5>

  <h6
    *ngIf="locationState.activeLocation?.productList.length === 0"
    class="products-null-message"
  >
    Products stocked at this location will appear below. <br />
    Create new products to get started.
  </h6>

  <div>
    <button
      *ngIf="activeProducts.length > 0 && activeLocation.productList.length > 6"
      mat-raised-button
      color="primary"
      type="button"
      class="product-delete"
    >
      Delete Selected
    </button>
  </div>

  <div class="product-list" *ngIf="activeLocation?.productList.length > 0">
    <mat-card
      *ngFor="let product of activeLocation.productList; let i = index"
      class="product-list-cards"
    >
      <mat-card-title>
        <mat-checkbox
          (change)="onProductSelect($event.checked, product)"
        ></mat-checkbox>
        {{ product.product.name }}
      </mat-card-title>
      <mat-card-content>
        <p>{{ product.product.department | uppercase }}</p>
        <p>Status: {{ product.product.isActive ? "Active" : "Inactive" }}</p>
        <p>{{ product.product.category }}</p>
        <p>
          {{
            product.product.casePrice /
              (product.product.unitSize *
                product.product.unitsPerPack *
                product.product.packsPerCase) | currency
          }}
          per {{ product.product.unitMeasure.singular }}
        </p>
        <p>
          Unit Size:
          {{
            product.product.unitSize +
              " " +
              (product.product.unitSize > 1
                ? product.product.unitMeasure.plural
                : product.product.unitMeasure.singular)
          }}
        </p>
        <p>
          {{
            (product.product.name | titlecase) +
              " per case: " +
              product.product.unitsPerPack * product.product.packsPerCase
          }}
        </p>
        <p>Case price: {{ product.product.casePrice | currency }}</p>
        <p>
          Par: {{ product.product.par }}
          {{ product.product.par > 1 ? "packs" : "pack" }}
        </p>
      </mat-card-content>
      <mat-card-actions *ngIf="user.userProfile.role > 1 || userDept === 'admin'" align="center">
        <button mat-raised-button (click)="onEditProduct(product.product)">
          Edit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div>
    <button
      *ngIf="activeProducts?.length > 0"
      mat-raised-button
      color="primary"
      type="button"
      class="product-delete"
      (click)="onDeleteSelectedProducts()"
    >
      Delete Selected
    </button>
  </div>
</div>
