<div class="settings">
  <mat-card class="settings-owner">
    <mat-spinner
    diameter="100"
    strokeWidth="6"
    *ngIf="userLoading"
  ></mat-spinner>
    <mat-card-header *ngIf="!userLoading">
      <img
        mat-card-avatar
        [src]="user.userProfile.userPhoto"
        alt="Your profile photo"
      />
      <mat-card-title>Settings</mat-card-title>
      <mat-card-subtitle>
        {{ user.userProfile.firstName + " " + user.userProfile.lastName }} -
        {{ userRole }}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userProfileForm" class="user-form">
        <p>Authorization</p>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email"/>
          <mat-error *ngIf="userProfileForm.get('email').invalid"
            >Please enter the email you'd like to sign in with.</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="standard">
          <mat-label>Inventory Department</mat-label>
          <mat-select type="text" formControlName="department" (valueChange)="onDepartmentSelect($event)">
            <mat-option
              *ngFor="let dept of ['boh', 'foh', 'admin']"
              [value]="dept"
            >
              {{ dept | uppercase }}
            </mat-option>
          </mat-select>
          <mat-error>Please select a department.</mat-error>
        </mat-form-field>
        <p>User Profile</p>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput type="text" formControlName="firstName" />
          <mat-error *ngIf="userProfileForm.get('firstName').invalid"
            >Please enter your first name.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput type="text" formControlName="lastName" />
          <mat-error *ngIf="userProfileForm.get('lastName').invalid"
            >Please enter your last name.</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input
            matInput
            type="text"
            formControlName="phoneNumber"
            pattern="[0-9]{10}"
          />
          <mat-error *ngIf="userProfileForm.get('phoneNumber').invalid"
            >Please enter your phone number (ex. 4048534924).</mat-error
          >
        </mat-form-field>
        <div class="theme-toggle">
          <mat-label>Theme Preference:</mat-label>
          <mat-slide-toggle
            matInput
            formControlName="themePref"
            [checked]="themeMode === 'theme-dark' ? true : false"
            (change)="onThemeToggle($event.checked)"
          >
            {{ themePref === "theme-dark" ? "Dark" : "Light" }}
          </mat-slide-toggle>
        </div>
        <div class="user-photo-upload">
          <button mat-stroked-button type="button" (click)="filePicker.click()">
            Change Profile Picture
          </button>
          <input
            #filePicker
            type="file"
            accept="image/png, image/jpg, image/jpeg"
            (change)="onAvatarPicked($event)"
          />
          <div
            class="image-preview"
            *ngIf="
              imagePreview &&
              imagePreview !== '' &&
              userProfileForm.get('userPhoto').valid
            "
          >
            <img
              [src]="imagePreview"
              [alt]="
                userProfileForm.get('firstName').value + '-userPhoto'
                  | lowercase
              "
            />
          </div>
        </div>
        <mat-error *ngIf="!mimeTypeValid">
          File invalid: {{ mimeType }}.
          <br />
          Only .png, .jpg and .jpeg files are accepted.</mat-error
        >
        <br />
        <mat-error *ngIf="!fileSizeOk"
          >File too large. Max file size is 90bytes.</mat-error
        >
      </form>
    </mat-card-content>
    <mat-card-actions align="center">
      <button mat-raised-button type="button" (click)="onResetForm()">
        Reset All
      </button>
      <button
        mat-raised-button
        type="submit"
        (click)="onUserProfileSubmit(userProfileForm)"
        [disabled]="userProfileForm.invalid"
      >
        Save
      </button>
    </mat-card-actions>
  </mat-card>
</div>
