@use "../../../sass/abstracts/variables" as var;

.settings {
  display: flex;
  justify-content: center;
  // align-content: center;

  &-owner {
    height: max-content;
    width: calc(100% - 12rem);
    min-width: min-content;
    margin-block-start: 1rem;

    // mat-card-title {}
    // mat-card-subtitle {}

    mat-card-content {
      .user-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 1.2rem;
          font-weight: 415;
          margin-top: 1rem;
        }

        mat-form-field {
          padding-inline: 2rem;
          width: 30rem;
        }

        .theme-toggle {
          display: flex;
          flex-direction: column;
          margin-inline-start: 2rem;
          margin-block-start: 1rem;
          margin-block-end: 1.5rem;
        }
      }

      .user-photo-upload {
        display: flex;
        flex-direction: column;
        align-items: center;

        input[type="file"] {
          visibility: hidden;
        }
      }
    }

    // mat-card-actions {
    //   button {}
    // }
  }
}
