<div class="landing">
  <app-header></app-header>

  <div class="landing-hero">
    <div class="landing-hero-box col-xxl-8 px-5 py-5 py-lg-5">
      <div
        class="row flex-lg-row-reverse justify-content-center align-content-center g-5 py-lg-5"
      >
        <div class="col-10 col-sm-8 col-lg-5">
          <img
            src="../../assets/inv-logo.webp"
            class="d-block mx-lg-auto img-fluid"
            alt="Bootstrap Themes"
            width="700"
            height="500"
            loading="lazy"
          />
        </div>
        <div class="landing-hero-text col-lg-6" [ngClass]="getTheme()">
          <h1 class="landing-hero-text-title fw-bold lh-1 mb-3">
            Know where you stand
          </h1>
          <p class="lead landing-hero-text-body">
            Don't let inventory management become an afterthought. With the
            Inventory app, you and your Chefs can easily track inventory counts,
            usage, and much more. <br />
            Sign up now and take back control.
          </p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button
              mat-raised-button
              color="accent"
              type="button"
              class="signup"
              (click)="onOpenAuth('signup')"
            >
              Sign Up
            </button>
            <button
              *ngIf="!isAuthenticated"
              mat-raised-button
              color="primary"
              type="button"
              class="login"
              (click)="onOpenPreview()"
            >
              Preview the App
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="user-spinner">
    <mat-spinner
      diameter="70"
      strokeWidth="4"
      *ngIf="userLoading"
    ></mat-spinner>
  </div>
  <div
    class="landing-features container px-4 py-5 mt-5"
    [ngClass]="getTheme()"
    id="icon-grid"
  >
    <h2 class="landing-features-title pb-2" id="features">App Features</h2>

    <div class="landing-features-inner row row-cols-1 row-cols-lg-3 g-6 py-5">
      <div class="col d-flex align-items-start">
        <mat-icon class="flex-shrink-0 me-3">business</mat-icon>
        <div>
          <h4 class="fw-bold mb-0">You Decide</h4>
          <p>
            Set up your business and all of your locations inside the app! Every
            business is unique so we let you decide how to manage your
            inventory. Do-it-yourself or delegate to your team.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <mat-icon class="flex-shrink-0 me-3">manage_accounts</mat-icon>
        <div>
          <h4 class="fw-bold mb-0">Control Access</h4>
          <p>
            Add as many Managers and staffmembers as you like to access each
            location. Then, decide who does what with clearly defined roles
            among all of your staff.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <mat-icon class="flex-shrink-0 me-3">sell</mat-icon>
        <div>
          <h4 class="fw-bold mb-0">Customize Your Products</h4>
          <p>
            Inventory app keeps track of 10 different data points on every
            product in your inventory. Keep track of your products and never get
            blindsided again.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start">
        <mat-icon class="flex-shrink-0 me-3">dashboard</mat-icon>
        <div>
          <h4 class="fw-bold mb-0">Stay Up to Date</h4>
          <p>
            In an upcoming release, Inventory dashboard will give you everything
            you need at a glance. Check on the latest inventory values across
            all locations, see alerts and check the status of ongoing inventory
            counts.
          </p>
        </div>
      </div>
      <div class="col d-flex align-items-start mt-lg-4">
        <mat-icon class="flex-shrink-0 me-3">insights</mat-icon>
        <div>
          <h4 class="fw-bold mb-0">Plan Ahead</h4>
          <p>
            In another upcoming release, Inventory orders will give you all your
            orders by vendor based on your set pars and current inventory
            levels.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="landing-consult">
    <div class="col-sm-12 col-lg-10 col-xl-8 col-xxl-6 px-5 py-5 py-lg-5">
      <div
        class="landing-consult-inner row flex-lg-row justify-content-center align-content-center g-5 py-lg-5"
        [ngClass]="getTheme()"
      >
        <div class="landing-consult-inner-text text-center text-lg-start col-12 col-sm-8 col-lg-5">
          <h1 id="consult">Need a custom solution?</h1>
          <p class="lead">
            Whitetail Web Studio creates original software of all kinds for
            businesses of types and sizes. Tell us your ideas and let's discuss
            the possibilities!
          </p>
        </div>

        <div class="d-flex justify-content-center col-12 col-sm-8 col-lg-6 my-5">
          <a
          href=""
          onclick="Calendly.initPopupWidget({url: 'https://calendly.com/whitetail-web'});return false;"
          >
          <button mat-raised-button color="primary">Schedule a Consultation</button>
          </a
        >
        </div>
      </div>
    </div>
  </div>

  <div class="image--1"></div>

  <div class="landing-usage" [ngClass]="getTheme()" id="usage">

    <div class="landing-usage-main">
        <div class="landing-usage-main-feature">
          <mat-icon class="landing-usage-main-feature-icon">alt_route</mat-icon>
          <div>
            <h4 class="landing-usage-main-feature-title">Small</h4>
            <p>
              For a small operation with few staff you may want to simply manage
              inventory yourself. Just log in, create a business, add a location
              and you're ready to get started in just a few minutes.
            </p>
          </div>
        </div>
        <div class="landing-usage-main-feature">
          <mat-icon class="landing-usage-main-feature-icon">alt_route</mat-icon>
          <div>
            <h4 class="landing-usage-main-feature-title">Medium</h4>
            <p>
              Maybe your single location has grown to a larger size and you need
              to delegate those tasks, but you still want to keep an eye on
              things. <br />
              Just have your Managers create an account, then add them to your
              locations by email and they're ready to go!
            </p>
          </div>
        </div>
        <div class="landing-usage-main-feature">
          <mat-icon class="landing-usage-main-feature-icon-reverse">alt_route</mat-icon>
          <div>
            <h4 class="landing-usage-main-feature-title">Large</h4>
            <p>
              For larger businesses with many layers of heirarchy, add both
              Managers and junior staff to your locations in a any department. <br>
              Junior staff can
              enter inventory counts that managers can review and approve for
              each inventory period. <br>

            </p>
          </div>
        </div>
      </div>
  </div>

  <app-auth *ngIf="!isAuthenticated" class="auth" id="auth"></app-auth>

  <div class="image--2"></div>

  <app-footer [ngClass]="getTheme()"></app-footer>
</div>
