@use "../../sass/abstracts/variables" as var;

.landing {
  height: 500vh;

  .last-update {
    display: flex;
    justify-content: flex-end;
    color: var.$mode-txt-dark;
    // width: 6.4rem;
    // height: min-content;
    margin-inline-end: -2rem;
    margin-block-start: -2rem;
    // transform: translateY(2rem);
    padding-left: 0rem;
    padding-right: 0rem;
    text-align: end !important;
    font-size: .7rem;
    // z-index: 1000;
  }

  &-hero {
    display: flex;
    justify-content: center;

    &-box {
      height: 30rem;
      width: 95vw;
      padding-top: 10vw;
      background-image: linear-gradient(to right bottom, rgba(rgb(0, 0, 0), 0.4), rgba(#000000, 1)),
        url(../../assets/landing/cutting-board.webp);
      background-size: cover;
      background-position: center;


      @supports (
        clip-path: polygon(0 0) or
          (
            -webkit-clip-path: polygon(0 0),
          )
      ) {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);

        @media only screen and (max-width: var.$bp-tablet-lg) {
          height: 50rem !important;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        }

        @media only screen and (max-width: var.$bp-tablet-sm) {
          height: 50rem !important;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 70vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
        }
      }
    }
    &-text {
      color: var.$mode-txt-dark;

      .signup {
        height: 2.5rem;
      }
      .login {
        height: 2.5rem;
      }
    }
  }

  .user-spinner {
    display: flex;
    justify-content: center;
  }

  &-features {

    &-title {
      text-align: center;
    }

    &-inner {
      justify-content: center;
    }
  }

  &-consult {
    display: flex;
    justify-content: center;
    // align-items: center;

    &-inner {

      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -2rem;
      }
    }
  }

  &-usage {
    margin-block-end: 8rem;

    @media only screen and (max-width: var.$bp-tablet-sm) {
      justify-content: center;
    }

    &-title {
      text-align: center;
      margin-block: 2rem;
    }

    &-main {
      display: flex;
      justify-content: space-around;
      margin-block: 4rem;

      @media only screen and (max-width: var.$bp-tablet-sm) {
        flex-direction: column;
        align-items: center;
      }

      &-feature {
        display: flex;
        width: 20rem;

        @media only screen and (max-width: var.$bp-tablet-sm) {
          width: 90vw;
        }

        &-title {
          font-weight: 700;
        }

        &-icon {

          &-reverse {
            transform: scaleX(-1);
          }
        }
      }
    }

  }

  .image--1 {
    height: 30rem;
    background-image: url(../../assets/landing/oven.webp);
    background-size: cover;
    background-position: center;
  }

  .image--2 {
    height: 30rem;
    margin-block: 12rem;
    background-image: url(../../assets/landing/grill.webp);
    background-size: cover;
    background-position: center;
  }



  // #auth {
  //   align-self: center;
  //   margin-block-start: 14rem !important;
  // }

}

// UTIL
.mode-dark {
  color: var.$mode-txt-dark;
}

