<div class="business-manage">
  <mat-card>
    <mat-card-header>
      <img mat-card-avatar [src]="businessPhoto" alt="Business photo" />
      <mat-card-title>Manage Business</mat-card-title>
      <mat-card-subtitle>
        {{ user.userProfile.firstName + " " + user.userProfile.lastName }} -
        {{ userRole }} <span> - {{ businessName }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="business">
      <section class="business-info">
        <h5 class="business-info-title">Business Profile</h5>
        <h6 class="business-info-subtitle">Business Name</h6>
        <form
          *ngIf="businessSubmitMode"
          [formGroup]="businessForm"
          (ngSubmit)="onBusinessSubmit()"
          class="business-form"
        >
          <p *ngIf="!businessState && !businessName">Name Your Business</p>
          <mat-form-field class="business-info-form">
            <!-- <mat-label>Business Name</mat-label> -->
            <input
              matInput
              type="text"
              spellcheck="false"
              formControlName="businessName"
              autofocus
            />
            <mat-error *ngIf="businessForm.get('businessName').invalid">
              Please enter a name for your business.
            </mat-error>
          </mat-form-field>
          <button
            class="business-submit"
            type="submit"
            mat-raised-button
            [disabled]="businessForm.invalid"
          >
            {{ businessSubmitMode === "update" ? "Update" : "Create" }}
          </button>
          <button
            class="business-cancel"
            type="button"
            mat-raised-button
            (click)="onCancelForm('business')"
          >
            Cancel
          </button>
          <mat-error
            *ngIf="businessError && !businessForm.get('businessName')"
            >{{ businessError }}</mat-error
          >
        </form>
        <mat-spinner
          diameter="70"
          strokeWidth="3"
          *ngIf="loading"
        ></mat-spinner>
        <p *ngIf="!businessSubmitMode && !loading" class="business-info-name">
          {{
            businessName ? businessName : "Add your business to get started."
          }}
          <button
            mat-raised-button
            class="business-info-edit"
            (click)="onEditBusiness(businessName ? 'update' : 'new')"
          >
            <mat-icon *ngIf="businessName" class="business-info-name-edit"
              >edit</mat-icon
            >
            <mat-icon *ngIf="!businessName">domain_add</mat-icon>
            <mat-label *ngIf="!businessName"> Add business</mat-label>
          </button>
        </p>
        <div class="business-info-photo">
          <button mat-stroked-button type="button" (click)="filePicker.click()">
            Change Business Photo
          </button>
          <input
            #filePicker
            type="file"
            accept="image/png, image/jpg, image/jpeg"
            (change)="onBusinessPhotoPicked($event)"
          />
          <div
            class="image-preview"
            *ngIf="
              imagePreview &&
              imagePreview !== '' &&
              businessForm.get('businessPhoto').valid
            "
          >
            <img
              [src]="imagePreview"
              [alt]="
                businessForm.get('businessName').value + '-businessPhoto'
                  | lowercase
              "
            />
          </div>
        </div>
        <h6 class="business-info-subtitle">
          {{ locations ? "Manage Locations" : null }}
        </h6>
        <div *ngFor="let location of locations" class="business-info-locations">
          <a
            [href]="'/app/business#' + location._id"
            class="business-info-locations-list"
          >
            <mat-icon class="mat-tag">tag</mat-icon>{{ location.locationName }}
          </a>
          <mat-spinner
            diameter="30"
            color="accent"
            *ngIf="
              locationEditMode &&
              location.locationName === locationEditSelector.locationName &&
              isLoading
            "
          ></mat-spinner>
        </div>
      </section>

      <br />

      <p *ngIf="!businessId">Add your business to create locations.</p>
      <button *ngIf="businessId" mat-icon-button class="business-info-add">
        <mat-icon *ngIf="!locationSubmitMode" (click)="onCreateLocation(true)"
          >add_business</mat-icon
        >
        <mat-icon *ngIf="locationSubmitMode" (click)="onCancelForm('location')"
          >cancel</mat-icon
        >
        <mat-label
          *ngIf="locationSubmitMode"
          (click)="onCancelForm('location')"
        >
          {{ locationSubmitMode ? "Cancel" : "" }}</mat-label
        >
        <mat-label *ngIf="!locationSubmitMode" (click)="onCreateLocation(true)">
          {{ locationSubmitMode ? "Cancel" : "New location" }}</mat-label
        >
      </button>
      <form
        *ngIf="locationSubmitMode"
        [formGroup]="newLocationForm"
        (ngSubmit)="onNewLocationSubmit()"
        class="location-form"
      >
        <mat-form-field>
          <mat-label>Location Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="locationName"
            autofocus
          />
          <mat-error *ngIf="newLocationForm.get('locationName').invalid"
            >Please enter a name for the location.</mat-error
          >
        </mat-form-field>
        <button
          class="location-submit"
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="newLocationForm.invalid"
        >
          Create
        </button>
        <mat-error *ngIf="businessError">{{ businessError }}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div *ngIf="loading" class="location-spinner">
  <mat-spinner diameter="150" strokeWidth="10"></mat-spinner>
</div>

<div class="locations" *ngFor="let location of locations">
  <mat-card *ngIf="!loading">
    <mat-card-header>
      <mat-card-title [id]="location._id">
        <mat-icon class="store-icon">store</mat-icon>
        {{ location.locationName }}
      </mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section>
        <p class="location-title">Location Name</p>
        <p *ngIf="!locationEditMode">
          {{ location.locationName }}
          <button
            mat-mini-fab
            color="none"
            (click)="onEditLocation('update', location)"
            class="location-title-btn"
          >
            <mat-icon class="location-title-btn-edit">edit</mat-icon>
          </button>
        </p>
        <form
          *ngIf="
            locationEditMode &&
            location.locationName === locationEditSelector.locationName &&
            !isLoading
          "
          [formGroup]="updateLocationForm"
          (ngSubmit)="onUpdateLocationSubmit()"
          class="business-info-locations-form"
        >
          <mat-form-field>
            <input
              matInput
              type="text"
              spellcheck="false"
              formControlName="locationName"
              class="business-info-locations-form-input"
            />
            <mat-error *ngIf="updateLocationForm.get('locationName').invalid"
              >Please enter a name for the location.</mat-error
            >
          </mat-form-field>
          <button
            class="business-info-locations-form-buttons"
            mat-raised-button
            type="submit"
            [disabled]="updateLocationForm.invalid"
          >
            Update
          </button>
          <button
            class="business-info-locations-form-buttons"
            mat-raised-button
            type="button"
            (click)="onCancelForm('location-update')"
          >
            Cancel
          </button>
          <mat-error *ngIf="businessError">{{ businessError }}</mat-error>
        </form>
      </section>

      <section class="location-staff">
        <p class="location-title">Authorized Staff</p>
        <p *ngIf="!businessId">Add your business to create locations.</p>
        <p>Managers</p>
        <p [ngClass]="location.managers.length === 0 ? 'text-muted' : null">
          {{ location.managers.length > 0 ? null : "No Managers found." }}
        </p>
        <p
          *ngFor="let manager of location.managers; let i = index"
          class="border-bottom"
        >
          {{
            i +
              1 +
              ". " +
              manager.manager.userProfile.firstName +
              " " +
              manager.manager.userProfile.lastName +
              " - " +
              manager.manager.email
          }}
        </p>

        <!-- ADD MANAGERS BUTTON -->
        <button
          *ngIf="
            (businessId && !addUserToLocationMode) ||
            addUserToLocationMode === 'manager'
          "
          mat-raised-button
          type="button"
          class="location-add-managers"
          (click)="
            addUserToLocationMode && locationAddUserSelector === location
              ? onAddNewUserControl()
              : onAddUserToLocation('manager', location) - onAddNewUserControl()
          "
        >
          <mat-icon (click)="onAddUserToLocation('manager', location)"
            >group_add</mat-icon
          >
          <mat-label>
            {{
              addUserToLocationMode && locationAddUserSelector === location
                ? "Add More"
                : "Add Managers"
            }}</mat-label
          >
        </button>
        <!-- ADD MANAGERS END === -->

        <br />

        <div *ngIf="addUserToLocationMode !== 'manager'" class="staff-list">
          <p *ngIf="!location.staff">Junior Staff</p>
          <p [ngClass]="location.staff.length === 0 ? 'text-muted' : null">
            {{
              location.staff.length > 0
                ? "Junior Staff"
                : "No junior staff found."
            }}
          </p>
          <p
            *ngFor="let staff of location.staff; let i = index"
            class="border-bottom"
          >
            {{
              i +
                1 +
                ". " +
                staff.staffMember.userProfile.firstName +
                " " +
                staff.staffMember.userProfile.lastName +
                " - " +
                staff.staffMember.email
            }}
          </p>
        </div>

        <!-- ADD STAFF BUTTON -->
        <button
          *ngIf="
            (businessId && !addUserToLocationMode) ||
            addUserToLocationMode === 'staff'
          "
          mat-raised-button
          type="button"
          class="location-add-staff"
          (click)="
            addUserToLocationMode && locationAddUserSelector === location
              ? onAddNewUserControl()
              : onAddUserToLocation('staff', location) - onAddNewUserControl()
          "
        >
          <mat-icon (click)="onAddUserToLocation('staff', location)"
            >group_add</mat-icon
          >
          <mat-label>
            {{
              addUserToLocationMode && locationAddUserSelector === location
                ? "Add More"
                : "Add Junior Staff"
            }}</mat-label
          >
        </button>
        <!-- ADD STAFF BUTTON END === -->

        <form
          *ngIf="
            addUserToLocationMode &&
            !locationEditMode &&
            locationAddUserSelector === location
          "
          class="add-user-form"
          [formGroup]="addUserToLocationForm"
          (ngSubmit)="onAddUserToLocationSubmit()"
        >
          <div class="add-user-array" formArrayName="email">
            <mat-hint
              >Be sure to use the same email they signed up with.</mat-hint
            >
            <mat-form-field
              class="add-user-field"
              appearance="outline"
              *ngFor="let newUserCtrl of newUserControls; let i = index"
              [formGroupName]="i"
            >
              <mat-label>Email {{ i + 1 }}</mat-label>
              <input
                type="email"
                class="add-user-input"
                spellcheck="false"
                formControlName="email"
                matInput
                email
              />
              <button
                mat-icon-button
                matSuffix
                (click)="onRemoveNewUserControl(i)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <mat-error *ngIf="addUserToLocationForm.get('email').invalid"
                >Please enter a valid email for this user.</mat-error
              >
            </mat-form-field>
            <button
              mat-mini-fab
              type="button"
              color="none"
              (click)="onAddNewUserControl()"
            >
              <mat-icon>group_add</mat-icon>
            </button>
            <button mat-raised-button type="submit" class="add-user-submit-btn">
              Submit
            </button>
          </div>
        </form>
      </section>
    </mat-card-content>
    <mat-error
      *ngIf="addUserToLocationMode && locationAddUserSelector === location"
      >{{ businessError }}</mat-error
    >
    <mat-card-actions align="end">
      <button
        mat-raised-button
        type="button"
        (click)="
          addUserToLocationMode && locationAddUserSelector === location
            ? onCancelForm('add-location-user')
            : null
        "
      >
        Reset
      </button>
    </mat-card-actions>
  </mat-card>
</div>
