<div class="business-manage">
  <mat-card>
    <mat-card-header>
      <img
        mat-card-avatar
        src="../../../assets/inv-logo-simple.png"
        alt="Your profile photo"
      />
      <mat-card-title>Manage Business</mat-card-title>
      <mat-card-subtitle>
        {{ user.userProfile.firstName + " " + user.userProfile.lastName }} -
        {{ userRole }} <span> - {{ businessName }}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="business">
      <section class="business-info">
        <h5 class="business-info-title">Business Profile</h5>
        <h6 class="business-info-subtitle">Business Name</h6>
        <form
          *ngIf="businessSubmitMode"
          [formGroup]="businessForm"
          (ngSubmit)="onBusinessSubmit()"
          class="business-form"
        >
          <p *ngIf="!businessState && !businessName">Name Your Business</p>
          <mat-form-field class="business-info-form">
            <!-- <mat-label>Business Name</mat-label> -->
            <input
              matInput
              type="text"
              spellcheck="false"
              formControlName="businessName"
              autofocus
            />
            <mat-error *ngIf="businessForm.get('businessName').invalid">
              Please enter a name for your business.
            </mat-error>
          </mat-form-field>
          <button
            class="business-submit"
            type="submit"
            mat-raised-button
            [disabled]="businessForm.invalid"
          >
            {{ businessSubmitMode === "update" ? "Update" : "Create" }}
          </button>
          <button
            class="business-cancel"
            type="button"
            mat-raised-button
            (click)="onCancelForm('business')"
          >
            Cancel
          </button>
          <mat-error
            *ngIf="businessError && !businessForm.get('businessName')"
            >{{ businessError }}</mat-error
          >
        </form>
        <mat-spinner
          diameter="70"
          strokeWidth="3"
          *ngIf="isLoading"
        ></mat-spinner>
        <p *ngIf="!businessSubmitMode && !isLoading" class="business-info-name">
          {{
            businessName ? businessName : "Add your business to get started."
          }}
          <button mat-icon-button class="business-info-edit">
            <mat-icon
              *ngIf="businessName"
              (click)="onEditBusiness('update')"
              class="business-info-name-edit"
              >edit</mat-icon
            >
            <mat-icon *ngIf="!businessName" (click)="onEditBusiness('new')"
              >domain_add</mat-icon
            >
            <mat-label *ngIf="!businessName" (click)="onEditBusiness('new')">
              Add business</mat-label
            >
          </button>
        </p>
        <h6 class="business-info-subtitle">
          {{ locations ? "Manage Locations" : null }}
        </h6>
        <div *ngFor="let location of locations" class="business-info-locations">
          <a
            [href]="'/app/business#' + location.location._id"
            class="business-info-locations-list"
          >
            <mat-icon class="mat-tag">tag</mat-icon
            >{{ location.location.locationName }}
          </a>
          <!-- <button
            *ngIf="
              !locationEditMode ||
              (locationEditSelector &&
                location.location.locationName !==
                  locationEditSelector.locationName)
            "
            mat-icon-button
            class="business-info-locations-button"
            (click)="onEditLocation('update', location.location)"
          >
            <mat-icon class="business-info-locations-button-icon"
              >edit</mat-icon
            >
          </button> -->
          <mat-spinner
            diameter="30"
            color="accent"
            *ngIf="
              locationEditMode &&
              location.location.locationName ===
                locationEditSelector.locationName &&
              isLoading
            "
          ></mat-spinner>
        </div>
      </section>

      <br />

      <p *ngIf="!businessId">Add your business to create locations.</p>
      <button *ngIf="businessId" mat-icon-button class="business-info-add">
        <mat-icon *ngIf="!locationSubmitMode" (click)="onCreateLocation(true)"
          >add_business</mat-icon
        >
        <mat-icon *ngIf="locationSubmitMode" (click)="onCancelForm('location')"
          >cancel</mat-icon
        >
        <mat-label
          *ngIf="locationSubmitMode"
          (click)="onCancelForm('location')"
        >
          {{ locationSubmitMode ? "Cancel" : "" }}</mat-label
        >
        <mat-label *ngIf="!locationSubmitMode" (click)="onCreateLocation(true)">
          {{ locationSubmitMode ? "Cancel" : "New location" }}</mat-label
        >
      </button>
      <form
        *ngIf="locationSubmitMode"
        [formGroup]="newLocationForm"
        (ngSubmit)="onNewLocationSubmit()"
        class="location-form"
      >
        <mat-form-field>
          <mat-label>Location Name</mat-label>
          <input
            matInput
            type="text"
            formControlName="locationName"
            autofocus
          />
          <mat-error *ngIf="newLocationForm.get('locationName').invalid"
            >Please enter a name for the location.</mat-error
          >
        </mat-form-field>
        <button
          class="location-submit"
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="newLocationForm.invalid"
        >
          Create
        </button>
        <mat-error *ngIf="businessError">{{ businessError }}</mat-error>
      </form>
    </mat-card-content>
  </mat-card>
</div>

<div class="locations" *ngFor="let location of locations">
  <mat-card>
    <mat-card-header>
      <mat-card-title [id]="location.location._id">
        <mat-icon class="store-icon">store</mat-icon>
        {{ location.location.locationName }}
      </mat-card-title>
      <mat-card-subtitle>Subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <section>
        <p class="location-field-title">Location Name</p>
        <p *ngIf="!locationEditMode">
          {{ location.location.locationName }}
          <button
            mat-mini-fab
            color="none"
            (click)="onEditLocation('update', location.location)"
            class="location-field-title-btn"
          >
            <mat-icon class="location-field-title-btn-edit">edit</mat-icon>
          </button>
        </p>
        <form
          *ngIf="
            locationEditMode &&
            location.location.locationName ===
              locationEditSelector.locationName &&
            !isLoading
          "
          [formGroup]="updateLocationForm"
          (ngSubmit)="onUpdateLocationSubmit()"
          class="business-info-locations-form"
        >
          <mat-form-field>
            <input
              matInput
              type="text"
              spellcheck="false"
              formControlName="locationName"
              class="business-info-locations-form-input"
            />
            <mat-error *ngIf="updateLocationForm.get('locationName').invalid"
              >Please enter a name for the location.</mat-error
            >
          </mat-form-field>
          <button
            class="business-info-locations-form-buttons"
            mat-raised-button
            type="submit"
            [disabled]="updateLocationForm.invalid"
          >
            Update
          </button>
          <button
            class="business-info-locations-form-buttons"
            mat-raised-button
            type="button"
            (click)="onCancelForm('location-update')"
          >
            Cancel
          </button>
          <mat-error *ngIf="businessError">{{ businessError }}</mat-error>
        </form>
      </section>

      <section>
        <p class="location-field-title">Authorized Staff</p>
        <p *ngIf="!businessId">Add your business to create locations.</p>
        <button *ngIf="businessId" mat-icon-button class="business-info-add">
          <mat-icon
            (click)="
              onAddUserToLocation(!addUserToLocationMode, location.location)
            "
            >group_add</mat-icon
          >
          <mat-label
            (click)="
              addUserToLocationMode &&
              locationAddUserSelector === location.location
                ? onAddNewStaffControl()
                : onAddUserToLocation(true, location.location) -
                  onAddNewStaffControl()
            "
          >
            {{
              addUserToLocationMode &&
              locationAddUserSelector === location.location
                ? "Invite"
                : "Invite Staff"
            }}</mat-label
          >
        </button>
        <form
          *ngIf="
            addUserToLocationMode &&
            locationAddUserSelector === location.location
          "
          class="add-user"
          [formGroup]="addUserToLocationForm"
          (ngSubmit)="onAddUserToLocationSubmit()"
        >
          <div class="add-user-array" formArrayName="newStaff">
            <mat-hint
              >Be sure to use the same email they intend to sign up
              with.</mat-hint
            >
            <mat-form-field
              class="add-user-field"
              appearance="outline"
              *ngFor="let newStaffCtrl of newStaffControls; let i = index"
              [formGroupName]="i"
            >
              <mat-label>Email {{ i + 1 }}</mat-label>
              <input
                type="email"
                class="add-user-input"
                spellcheck="false"
                formControlName="newStaff"
                matInput
                email
              />
              <mat-error *ngIf="addUserToLocationForm.get('newStaff').invalid"
                >Please enter a valid email for this user.</mat-error
              >
              <span> </span>
            </mat-form-field>
            <button mat-mini-fab type="button" (click)="onAddNewStaffControl()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </form>
      </section>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="button"
        (click)="
          addUserToLocationMode && locationAddUserSelector === location.location
            ? onCancelForm('add-location-user')
            : null
        "
      >
        Reset
      </button>
      <button mat-raised-button type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
