@use "../../../sass/abstracts/variables" as var;

.sidenav-container {
  height: 100vh;

  mat-sidenav {
    padding-left: 1rem;
    width: 13rem;

    mat-toolbar-row {
      background: inherit;
      // position: sticky;
      // top: 0;
      // z-index: 100;
      // max-width: 10rem;

      img {
        height: 7rem;
        width: 7rem;
        transform: translateY(2rem);
        z-index: -1;
        clip-path: circle(50%);
      }

      .sidenav-owner-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
      }

      .sidenav-non-owner-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 1rem;
        margin-block-start: 1rem;
      }
    }

    .sidenav-user-role {
      margin-inline-start: 1rem;
      font-weight: 200;
    }

    mat-slide-toggle {
      margin-left: 1rem;
    }

    mat-nav-list {
      display: flex;
      flex-direction: column;
      margin-inline-end: 1rem;
      // max-width: 10.5rem;
      align-items: center;
      gap: 0.3rem;

      .active {
        background-color: var.$color-green-light;
        border-radius: 0.3rem;
      }

      .spacer {
        margin-top: 20vh;
      }

      // .settings {
      // }

      .sidenav-icon {
        margin-inline-end: 0.3rem;
      }

      .no-locations {
        font-size: 0.8rem;
      }

      .location-select {
        max-width: 10rem;

        // &-dropdown {
        //   max-width: 10rem;
        // }
      }

      .logout {
        margin-inline-end: 1rem;
      }

      .user-display {
        font-size: 0.8rem;
        margin-block-start: 0.5rem;
        overflow-wrap: break-word;
      }
    }
  }
}
