<form [formGroup]="productForm">
  <div class="product-add-new-form">
    <mat-form-field [appearance]="productFormMode === 'new' ? 'outline' : 'standard'">
      <mat-label>Product Category</mat-label>
      <mat-select required formControlName="category" type="text">
        <mat-optgroup
          *ngFor="let category of productCategories.categories"
          [label]="category.name"
        >
          <mat-option
            *ngFor="let subCat of category.subCategories"
            [value]="subCat"
          >
            {{ subCat }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
      <mat-error>Please enter a category.</mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline" class="name">
      <mat-label>Name</mat-label>
      <input
        matInput
        required
        type="text"
        formControlName="name"
        (focusout)="onProductNameInput(productForm.value.name)"
      />
      <mat-error>Please enter a name.</mat-error>
    </mat-form-field>

    <p *ngIf="!productName" class="text-center">
      Individual Item Info
      <mat-icon
        matTooltip="Enter the amount and unit of measure of each individual item."
        >help_outline</mat-icon
      >
    </p>
    <p *ngIf="productName" class="text-center">
      Individual {{ productName }} Size
    </p>

    <div class="units-block">
      <mat-form-field appearance="outline" class="align-end short">
        <mat-label>Item Size</mat-label>
        <input
          matInput
          required
          type="number"
          formControlName="unitSize"
        />
        <mat-error>Please enter the item's size.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="short">
        <mat-label>Unit of Measure</mat-label>
        <mat-select required formControlName="unitMeasure" type="text">
          <mat-optgroup
            *ngFor="let unitCategory of defaultUnits.categories"
            [label]="unitCategory.category"
          >
            <mat-option
              *ngFor="let units of unitCategory.units"
              [value]="units"
            >
              {{ units.plural }}
            </mat-option>
          </mat-optgroup>
        </mat-select>
        <mat-error>Please enter a valid unit of measure.</mat-error>
      </mat-form-field>
    </div>

    <p *ngIf="!productName" class="text-center">
      Pack Info
      <mat-icon
        matTooltip="If each case is subdivided into smaller packs,
      enter how many individual items per pack. If not multiple
      packs just enter 1 here and enter the total items per case in the 'Case' field."
        >help_outline</mat-icon
      >
    </p>
    <p *ngIf="productName" class="text-center">
      How many {{ productName }} per pack?
    </p>

    <div class="pack-block">
      <mat-form-field appearance="outline">
        <mat-label>Pack Size</mat-label>
        <input
          matInput
          required
          type="number"
          formControlName="unitsPerPack"
        />
        <mat-error>Please enter a valid pack size.</mat-error>
      </mat-form-field>
    </div>

    <div class="par-block">
      <mat-form-field appearance="outline" class="hint">
        <mat-label>Packs PAR</mat-label>
        <input matInput required type="number" formControlName="par" #par />
        <mat-icon
          matSuffix
          matTooltip="Periodic Automatic Replacement (PAR).
        This is weekly usage, PLUS buffer stock DIVIDED by deliveries each inventory period.
        If case not divided into packs just enter number of cases.
        (You can update this number for each inventory)"
          >help_outline</mat-icon
        >
        <mat-error>Please enter a par.</mat-error>
      </mat-form-field>
    </div>

    <div class="case-info">
      <p *ngIf="productForm.value.unitsPerPack <= 1" class="text-center">
        Case Info
      </p>
      <p *ngIf="productForm.value.unitsPerPack > 1" class="text-center">
        How many packs per case?
      </p>

      <mat-form-field appearance="outline" class="hint">
        <mat-label>Case Size</mat-label>
        <input
          matInput
          required
          type="number"
          formControlName="packsPerCase"
        />
        <mat-icon
          matSuffix
          matTooltip="If not subdivided into multiple packs, just enter how many
        individual items overall in the case."
          >help_outline</mat-icon
        >
        <mat-error>Please enter a valid case size.</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="ms-2">
        <mat-label>Case Price</mat-label>
        <span matPrefix>$&nbsp;</span>
        <input
          matInput
          required
          type="number"
          formControlName="casePrice"
        />
        <mat-error>Please enter a valid case price.</mat-error>
      </mat-form-field>
    </div>
  </div>

  <div class="toggle">
    <mat-slide-toggle
      (change)="onProductStatusSelect($event.checked)"
      [checked]="productStatusText === 'Active' ? true : false"
    >
      <!-- [ngClass]="productStatus ? null : 'null-value'" -->
      {{ productStatusText }}
      <mat-icon
        matTooltip="Sets the inventory status of this product.
        Set to 'Inactive' if you don't immediately plan to track
        this product in this location's inventory. Set to
        'Active' to include in the next inventory."
        >help_outline</mat-icon
      >
      <input
        hidden
        matInput
        required
        formControlName="isActive"
      />
    </mat-slide-toggle>
  </div>
  <div class="form-actions">
    <button
      *ngIf="productForm.touched && productForm.dirty"
      mat-raised-button
      type="reset"
      (click)="onResetForm()"
    >
      Reset
    </button>
    <div class="spinner">
      <mat-spinner
        diameter="40"
        strokeWidth="6"
        *ngIf="locLoading || bizLoading"
      ></mat-spinner>
    </div>
    <button
      *ngIf="!locLoading"
      mat-raised-button
      type="submit"
      [disabled]="productForm.invalid || !productForm.dirty"
      (click)="onProductSubmit()"
    >
      Submit
    </button>
  </div>
</form>
