@use "../../../../../sass/abstracts/variables" as var;

.spinner {
  display: flex;
  justify-content: center;

  &-top {
    margin-block-start: 2rem;
  }
}

.inventory {

  .active-location-null {
    margin-block-start: 2rem;
    text-align: center;
  }

  &-null-message {
    text-align: center;
    margin-block: 2rem;
  }

  &-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .filter {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 1rem;

      // &-input {
      // }
      &-reset {
        margin-block-start: 1.4rem;
      }
    }


    mat-table {
      margin: 2rem;
      width: 70vw;
      min-width: 35rem;

      .inventory-table-title {
        justify-content: center;
        font-size: 1rem;
        font-weight: 600;

        mat-icon {
          margin-inline-end: 1rem;
        }
      }

      .inventory-table-total {
        justify-content: end;
        margin-inline-end: 1.58rem;
      }

    }
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     margin: 2rem;

//     mat-table {
//       display: flex;
//       flex-direction: column;
//       // align-items: center;
//       margin: 2rem;
//       width: 95vw;
//       min-width: 30rem;
//       max-width: 50rem;
//       margin: 2rem;

//       td {
//         width: 3rem;
//       }

//     }

//     &-expansion {

//       &-icon {

//       }

//     &-card-container {

//       &-inner {
//         display: flex;
//         flex-direction: column;
//         align-items: center;
//         margin: 2rem;

//       }
//     }
//     }
  }
}

// MOBILE STYLES
@media only screen and (max-width: var.$bp-mobile-lg) {
  .inventory {

    .active-location-null {
      margin-block-start: 2rem;
      text-align: center;
    }

    &-null-message {
      text-align: center;
      margin: 2rem;
    }

    &-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      .filter {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 1rem;

        // &-input {
        // }
        &-reset {
          margin-block-start: 1.4rem;
        }
      }


      mat-table {
        margin: 2rem;

        .inventory-table-title {
          justify-content: center;
          font-size: 1rem;
          font-weight: 600;

          mat-icon {
            margin-inline-end: 1rem;
          }
        }

        .inventory-table-total {
          justify-content: end;
          margin-inline-end: 1.58rem;
        }

      }
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     margin: 2rem;

  //     mat-table {
  //       display: flex;
  //       flex-direction: column;
  //       // align-items: center;
  //       margin: 2rem;
  //       width: 95vw;
  //       min-width: 30rem;
  //       max-width: 50rem;
  //       margin: 2rem;

  //       td {
  //         width: 3rem;
  //       }

  //     }

  //     &-expansion {

  //       &-icon {

  //       }

  //     &-card-container {

  //       &-inner {
  //         display: flex;
  //         flex-direction: column;
  //         align-items: center;
  //         margin: 2rem;

  //       }
  //     }
  //     }
    }
  }
}
