<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../../assets/inv-logo.webp" alt="" />
    </a>
    <span class="spacer"></span>
    <button
      mat-button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
      (click)="toggleCollapsedHeader()"
    >
      <mat-icon color="accent" class="toggler-icon">menu</mat-icon>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="this.navbarCollapsed ? null : 'show'" id="navbarToggler" id="navbarSupportedContent">
      <ul class="nav navbar-nav mb-2 mb-lg-0 ms-auto align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#" [ngClass]="getTheme()" (click)="toggleCollapsedHeader()">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [ngClass]="getTheme()" (click)="toggleCollapsedHeader()">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" [ngClass]="getTheme()" (click)="toggleCollapsedHeader()">Link 2</a>
        </li>
        <li
          class="nav-item theme theme-control"
        >
          <mat-slide-toggle (change)="onThemeModeSwitched($event)" [checked]="themeMode === 'theme-dark' ? true : false"
            ><mat-icon class="theme-icon" color="accent"
              >settings_brightness</mat-icon
            ></mat-slide-toggle
          >
        </li>
        <button
        *ngIf="!isAuthenticated"
        mat-stroked-button
        color="primary"
        class="navbar-btn"
        (click)="onOpenAuth('login'); toggleCollapsedHeader()"
        >
          Log In
        </button>
        <button
        *ngIf="isAuthenticated"
        mat-stroked-button
        color="primary"
        class="navbar-btn"
        (click)="onLogout(); toggleCollapsedHeader()"
        >
          Log Out
        </button>
      </ul>
    </div>
  </div>
</nav>
