<!-- TITLE BLOCK -->
<div class="spinner spinner-top">
  <mat-spinner diameter="100" strokeWidth="6" *ngIf="locationLoading"></mat-spinner>
</div>

<div
  class="location"
  *ngIf="activeLocation?.productList.length > 0 && !locationLoading"
>
  <h4>{{ activeLocation.locationName }}</h4>
  <h5>{{ userDept | uppercase }}</h5>
</div>

<!-- "NO LOCATION ACTIVE" MESSAGE -->
<div class="location" *ngIf="!activeLocation">
  <h4>Select a location to start a new inventory.</h4>
</div>

<!-- "NO DEPARTMENT PRODUCTS IN LOCATION" MESSAGE -->
<div
  class="location"
  *ngIf="activeLocation?.productList.length === 0"
>
  <!-- OWNERS, MANAGEMENT AND ADMINS -->
  <h4 *ngIf="userRole !== 'staff' && activeLocation">
    Add
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }}
    products to the
    {{ activeLocation?.locationName }}
    location to start a new
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory.
  </h4>
  <!-- JUNIOR STAFF -->
  <h4 *ngIf="userRole === 'staff' && activeLocation">
    No
    {{ userDept | uppercase }}
    products found for the
    {{
      activeLocation
        ? activeLocation.locationName
        : null
    }}
    location.
  </h4>
  <p *ngIf="userRole === 'staff'">
    Once management has added products you can start a new
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory.
  </p>
</div>

<!-- NEW INVENTORY MAIN START -->
<div
  class="new-inventory-container"
  *ngIf="activeLocation?.productList.length > 0"
>
  <mat-expansion-panel class="inventory-expansion">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="new-inventory-icon">addchart</mat-icon> Create New
        Inventory</mat-panel-title
      >
    </mat-expansion-panel-header>

    <div
      class="inventory-new-main"
      *ngIf="activeLocation?.productList.length > 0"
    >
      <mat-card class="inventory-card">
        <mat-card-content>
          <div *ngIf="userDept === 'admin'" class="inventory-card-submit-dept">
            <mat-label>Department: </mat-label>
            <mat-radio-group
              [value]="selected"
              (change)="onDepartmentSelect($event.value)"
              class="inventory-card-submit-dept-box"
            >
              <mat-radio-button [value]="'foh'" [checked]="true"
                >FOH</mat-radio-button
              >
              <mat-radio-button [value]="'boh'">BOH</mat-radio-button>
            </mat-radio-group>
          </div>

          <h6
            *ngIf="
              activeLocation &&
              newInventoryProducts?.length === 0 &&
              userDept === 'admin' &&
              formDept
            "
            class="dept-error"
          >
            Add
            {{ formDept | uppercase }}
            products to the
            {{ activeLocation?.locationName }}
            location to start a new
            {{ formDept | uppercase }}
            inventory.
          </h6>

          <app-inventory-form
            *ngIf="newInventoryProducts?.length > 0"
            [inventoryProducts]="newInventoryProducts"
            [formDept]="formDept"
            [invFormMode]="'new'"
            (inventoryFormSubmitted)="onInventorySubmit($event, true)"
          ></app-inventory-form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>
<!-- NEW INVENTORY MAIN END END END -->

<!-- NO WORKING DRAFTS MESSAGE -->
<div *ngIf="!draftInventory || !activeLocation" class="no-drafts">
  <p *ngIf="activeLocation?.inventoryData.length > 0">
    No working
    {{ this.userDept !== "admin" ? (userDept | uppercase) : null }} inventory
    drafts found.
  </p>
</div>

<!-- WORKING INVENTORIES START -->
<div *ngIf="draftInventory" class="new-inventory-container">
  <mat-expansion-panel class="inventory-expansion">
    <mat-expansion-panel-header>
      <mat-panel-title
        ><mat-icon class="new-inventory-icon">insert_chart_outlined</mat-icon>
        Inventory Draft
        {{ draftInventory.dateEnd | date: "shortDate" }}</mat-panel-title
      >
    </mat-expansion-panel-header>

    <div class="inventory-new-main">
      <mat-card class="inventory-card">
        <mat-card-content>
          <app-inventory-form
          *ngIf="draftInventory"
          [draftInventory]="draftInventory"
          [inventoryProducts]="draftInventory.inventory"
          [formDept]="formDept"
          [invFormMode]="'update'"
          (inventoryFormSubmitted)="onInventorySubmit($event, false)"
          ></app-inventory-form>
        </mat-card-content>
      </mat-card>
    </div>
  </mat-expansion-panel>
</div>

<!-- WORKING INVENTORIES END END END -->
