.container {
  max-width: 35rem;
}

mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

// .password-error {
//   color: #f44336;
//   font-size: 1rem;
//   margin-block-start: -1rem;
// }
